@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Playfair+Display:ital,wght@0,400;1,800&display=swap'); */
body{ 
  background:linear-gradient(rgba(143, 142, 142, 0.2), rgba(158, 158, 158, 0.2));
}

.foot{
  /* background-color: #1f181cb6; */
  margin-bottom: 0%;
}
.nav a{
  font-size: 40px;
  padding-left: 35%;
  text-transform: capitalize;
}
.tutorial{
  box-shadow:  0 1px 4px 0 #a7a0a4b6 !important;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
    width: 128px;
  }
  
  .notification {
    margin-top: 5% !important;
    width: 60%;
    background-color: #221c1fa4 !important;
    /* align-items: center !important; */
    margin-left: 30%;
  }
  .btn{
    margin-left: 40%;
    height: 10%;
    width: 30%;
    font-size: 1.5em;
    background-color: rgb(49, 156, 138) !important;
    color: aliceblue;
  }
  .subtitle i{
    color: rgb(49, 156, 138);
    size: 30px;
  }
  figure .image img {
    width: 128px;
  }
  
  .notification {
    margin-top: 5% !important;
    width: 60%;
    background-color: #221c1fa4 !important;
    /* align-items: center !important; */
    margin-left: 30%;
  }
  .btn{
    margin-left: 40%;
    height: 10%;
    width: 30%;
    font-size: 1.5em;
    background-color: rgb(49, 156, 138) !important;
    color: aliceblue;
  }
  .subtitle i{
    color: rgb(49, 156, 138);
    size: 30px;
  }
  @media screen and (min-width:950px){
    .nav{
      /* margin-left: 1.2em; */
      background-color: #1f181cb6;
      align-items: center;
    }
    .media{
      margin:10% 15% 5% 15%;
    }
    .tutorial {
      width: 50%;
      text-align: center;
      /* margin-top: 0% !important; */
    
      margin: -12% auto;
    }
    .searchbar{
      margin-left: 10%;
    }
    .media h1{
      font-size:1.7em; 
    }
  }
  @media all and (max-width:710px){
    .nav a{
      /* margin-left: 1.2em; */
      font-size: 1.8em;
      
      margin-left: -7%!important;
    }
    .title{
      font-size: 1.4em;
    }
    .subtitle{
      font-size: 1em;
    }
  }
  @media all and (max-width:950px){
    .nav{
      /* margin-left: 1.2em; */
      background-color: #1f181cb6;
      align-items: center;
    }
    .media{
      margin:40% 15% 5% 15% !important;
    }
    .tutorial {
      width: 90%;
      text-align: center;
      /* margin-top: 0% !important; */
    
      margin: -12% auto;
    }
    .searchbar{
      margin-left: 7%;
    }
    .media h1{
      font-size:1.2em; 
    }
  }
  .hero {
    margin-bottom: 20px;
  }
  